<div class="mat-elevation-z8">
  <mat-table  [dataSource]="tableDataSource"  aria-label="Elements" matSort class="mat-elevation-z8">
    <!-- Id Column -->
    <ng-container matColumnDef="label">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Begrippenkader</mat-header-cell>
      <mat-cell *matCellDef="let kwaliteit">{{kwaliteit.label}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="aantalConcepten">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>#Concepten</th>
      <td mat-cell *matCellDef="let kwaliteit">{{kwaliteit.aantalConcepten}}</td>
    </ng-container>

    <ng-container matColumnDef="aantalBegrippenDatNietVoldoetAanURIConventie" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>#Geen URIConventie</th>
      <td mat-cell *matCellDef="let kwaliteit">{{kwaliteit.aantalBegrippenDatNietVoldoetAanURIConventie}}</td>
    </ng-container>

    <ng-container matColumnDef="aantalBegrippenZonderEenSkosDefinition" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>#Zonder definition</th>
      <td mat-cell *matCellDef="let kwaliteit">{{kwaliteit.aantalBegrippenZonderEenSkosDefinition}}</td>
    </ng-container>

    <ng-container matColumnDef="aantalConceptenZonderBron" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>#Zonder bron</th>
      <td mat-cell *matCellDef="let kwaliteit">{{kwaliteit.aantalConceptenZonderBron}}</td>
    </ng-container>

    <ng-container matColumnDef="aantalBegrippenZonderEenBron" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>#Zonder bron</th>
      <td mat-cell *matCellDef="let kwaliteit">{{kwaliteit.aantalBegrippenZonderEenBron}}</td>
    </ng-container>

    <ng-container matColumnDef="aantalBegrippenZonderEenSkosInScheme" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>#Zonder inScheme</th>
      <td mat-cell *matCellDef="let kwaliteit">{{kwaliteit.aantalBegrippenZonderEenSkosInScheme}}</td>
    </ng-container>

    <ng-container matColumnDef="aantalBegrippenZonderEenStatus" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>#Zonder status</th>
      <td mat-cell *matCellDef="let kwaliteit">{{kwaliteit.aantalBegrippenZonderEenStatus}}</td>
    </ng-container>


    

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </mat-table>

  
  <mat-paginator #paginator
      [length]="tableDataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>

</div>
